<section class="home">
  <div class="buy-now">
    <div class="power-up-your-game-container">
      <div class="power-up-your-game">
        <p style="font-size: 1.5em">Power up your game</p>
        <p class="cyber-kid">
          CYBER KID <br />
          INFINITE
        </p>
        <p>Now available on PC & Console</p>
        <button class="buy-now-btn">Buy Now</button>
      </div>
    </div>
    <div class="cyberpunk-guy">
      <img src="/assets/Cybercopy.webp" alt="" />
    </div>
    <div class="black"></div>
  </div>
</section>
<section class="best-sellers">
  <div class="title">
    <h1 class="best-sellers-title">BEST SELLERS</h1>
    <button class="best-sellers-btn">View All</button>
  </div>
  <swiper-container
    class="mySwiper"
    pagination="false"
    space-between="30"
    slides-per-view="4"
    navigation="true"
    keyboard="true"
    speed="1000"
  >
    <swiper-slide *ngFor="let product of productsData">
      <div class="product-image-container">
        <img class="slide-image" src="{{ product.thumbnail }}" alt="" />
        <div *ngIf="product.price.current == product.price.beforeDiscount"><button class="sale">SALE</button></div>
      </div>
      <div class="description">
        <p>
          {{ product.title }} <br />
          {{ product.price.current }} {{ product.price.currency }}
        </p>
      </div>
      <button class="add-to-cart">Add to Cart</button>
    </swiper-slide>
  </swiper-container>
</section>
