<section class="home">
  <div class="buy-now">
    <div class="power-up-your-game-container">
      <div class="power-up-your-game">
        <p style="font-size: 1.5em">Power up your game</p>
        <p class="cyber-kid">
          CYBER KID <br />
          INFINITE
        </p>
        <p>Now available on PC & Console</p>
        <button class="buy-now-btn">Buy Now</button>
      </div>
    </div>
    <div class="cyberpunk-guy">
      <img src="/assets/Cybercopy.webp" alt="" />
    </div>
    <div class="black"></div>
  </div>
</section>
<section class="best-sellers">
  <swiper-container
    class="mySwiper"
    pagination="false"
    space-between="30"
    slides-per-view="3"
    loop="true"
    navigation="true"
    keyboard="true"
    speed="1000"
    
  >
    <swiper-slide><img src="/assets/Cybercopy.webp" alt="" /></swiper-slide>
    <swiper-slide><img src="/assets/Cybercopy.webp" alt="" /></swiper-slide>
    <swiper-slide><img src="/assets/Cybercopy.webp" alt="" /></swiper-slide>
    <swiper-slide><img src="/assets/Cybercopy.webp" alt="" /></swiper-slide>
    <swiper-slide><img src="/assets/Cybercopy.webp" alt="" /></swiper-slide>
    <swiper-slide><img src="/assets/Cybercopy.webp" alt="" /></swiper-slide>
    <swiper-slide><img src="/assets/Cybercopy.webp" alt="" /></swiper-slide>
    <swiper-slide><img src="/assets/Cybercopy.webp" alt="" /></swiper-slide>
    <swiper-slide><img src="/assets/Cybercopy.webp" alt="" /></swiper-slide>
  </swiper-container>
</section>

